    //COLORS

    $light-green: #7ed56f;
    $mediam-green:#55c57a;
    $dark-green: #28b485;

    $light-orange: #ffb900;
    $dark-orange: #ff7730;
    
    $light-blue: #2998ff;
    $dark-blue: #5643fa;

    $bg-light-green:rgba(128, 214, 113, 0.8);
    $bg-dark-green: rgba(40, 180, 133,0.8);

    $white-color: #fff;
    $grey-color: #777;
    $ligh-grey-1:#f7f7f7;
    $dark-grey: #999; 
    $dark-grey-1: #333; 

    //FONT-SIZE
    $default-font-size:1.6rem;

    //GRID
    $grid-width: 114rem;
    $gutter-verticle: 8rem;
    $gutter-verticle-small: 6rem;
    $gutter-horizontle: 8rem;  